   <div class="nosotros p-20">
        <div class="landing-content flex justify-center items-center gap-4 ">



            <div class="imgH">
                <img src="hydrosense.png" alt="Hydrosense Logo" class="logo" width="600px" />
            </div>


            <div class="contentH ">
                <h1>Acerca de nosotros</h1>
                <p>Somos una empresa emergente apasionada por la tecnología y comprometida con el cuidado de la
                    naturaleza.
                    Nos dedicamos a la creación de soluciones tecnológicas innovadoras diseñadas específicamente para la
                    protección y gestión sostenible de nuestros recursos naturales, con un enfoque especial en el agua.
                    Creemos firmemente que la innovación puede ser una fuerza poderosa para un futuro más verde y
                    trabajamos
                    incansablemente para desarrollar herramientas que marquen una diferencia real.</p>
            </div>


        </div>
    </div>
