<div class="p-5">

    <p-toolbar [style]="{ 'border-radius': '3rem', 'padding': '1rem 1rem 1rem 1.5rem' }">
        <ng-template #start>
            <div class="flex items-center gap-2">
                <svg width="31" height="33" viewBox="0 0 31 33" fill="none" xmlns="http://www.w3.org/2000/svg"
                    style="width: 2rem; margin-right: 1rem">
                    <path d="..." fill="var(--p-primary-color)" />
                    <mask id="mask0_1_52" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="31"
                        height="33"></mask>
                </svg>
                <a href="#inicio" class="p-button p-component p-button-text"
                    style="border-radius: 3rem; padding: 1rem 1rem 1rem 1.5rem;">
                    Inicio
                </a>

                <a href="#productos" class="p-button p-component p-button-text"
                    style="border-radius: 3rem; padding: 1rem 1rem 1rem 1.5rem;">
                    Productos
                </a>

                <a href="#contacto" class="p-button p-component p-button-text"
                    style="border-radius: 3rem; padding: 1rem 1rem 1rem 1.5rem;">
                    Contacto
                </a>

                <a href="#nosotros" class="p-button p-component p-button-text"
                    style="border-radius: 3rem; padding: 1rem 1rem 1rem 1.5rem;">
                    Conócenos
                </a>


            </div>
        </ng-template>

        <ng-template #end>
            <div class="flex items-center gap-2">
                <p-button label="Iniciar sesion" severity="contrast" size="small" [routerLink]="['/login']" />
                <p-avatar image="hydrosense.png" [style]="{ width: '32px', height: '32px', background: 'white' }" />
            </div>
        </ng-template>
    </p-toolbar>
</div>




<div class="content p-15">

     <div id="nosotros">
        <app-nosotros></app-nosotros>
    </div>


    <div id="inicio">
        <app-inicio></app-inicio>
    </div>


    <div id="preguntas">
        <app-preguntas></app-preguntas>
    </div>



    <div class="opiniones flex gap-7 justify-center" id="opiniones">
        <app-opinion [nombre]="'Juanito Alcachofa'" [calificacion]="5"
            [descripcion]="'Producto 100 funcional y de gran ayuda'">
        </app-opinion>

        <app-opinion [nombre]="'María López'" [calificacion]="4"
            [descripcion]="'Muy útil y fácil de usar, ha mejorado mucho la gestión del agua en nuestra comunidad.'">
        </app-opinion>

        <app-opinion [nombre]="'Carlos Sánchez'" [calificacion]="5"
            [descripcion]="'La precisión es excelente y el equipo de soporte siempre responde rápidamente.'">
        </app-opinion>
    </div>

    <div id="productos">
        <app-productos></app-productos>
    </div>

    <div>
        <app-cotizacion></app-cotizacion>
    </div>


    <div id="contacto">
        <app-contacto></app-contacto>
    </div>

</div>






<footer class="footer p-4 gap-10">
  

  <div class="footer-contactos">
    <h2>Correos de contacto: </h2>
    <ul>
      <li><strong>Correo 1:</strong> <br> {{'ventashidronsense@gmail.com'}}</li>
      <li><strong>Correo 2:</strong> <br>{{'oscarmancilla227@gmail.com'}}</li>
      <li><strong>Correo 3:</strong> <br>{{'erickvillaseordavid@gmail.com'}}</li>
      <li><strong>Correo 4:</strong> <br>{{'rp6245397@gmail.com'}}</li>
    </ul>
  </div>

   <div class="footer-contactos">
    <h2>Telefonos de contacto</h2>
    <ul>
      <li><strong>Teléfono:</strong> <br> 4775872265</li>
      <li><strong>Teléfono:</strong> <br> 4776711854</li>
      <li><strong>Teléfono:</strong> <br> 4791428209</li>
    </ul>
  </div>

  <div class="footer-content  justify-center items-center gap-4">
 
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.226296332273!2d-101.58422372402234!3d21.063622086578896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842b963652f40f0d%3A0xa7d88da0ad8eff8a!2sUniversidad%20Tecnol%C3%B3gica%20de%20Le%C3%B3n!5e0!3m2!1ses-419!2smx!4v1754542868726!5m2!1ses-419!2smx" width="500" height="300" style="border:1; border-radius: 1rem;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

  </div>
</footer>
