   
<div class="preguntas p-20">
    <div class="text-center">

        <div class="contentH ">
            <h1>Preguntas frecuentes</h1>

            <div class="text-start p-20">
                <h2 >1. ¿Qué mide el dispositivo?</h2>
                <p>El dispositivo mide el PH, Turbidez y temperatura del agua asi como determina si es apta para su uso</p>
                <h2>2. ¿Cómo se conectan el dispositivo y la aplicación móvil?</h2>
                <p>Se conectan por medio de WIFI de modo que en cualquier momento puedes ver el estado de tu cuerpo de agua</p>
                <h2>3. ¿Qué tipo de teléfonos son compatibles?</h2>
                <p>Todos los dispositivos Android con la version Oreo en adelante</p>
                <h2>4. ¿Qué tan difícil es la instalación?</h2>
                <p>La instalacion es sencilla, simplemente deja tu sensor en el cuerpo de agua, conectalo a tu WIFI e inicia la aplicacion</p>
            </div>


        </div>


    </div>
</div>