


<div class="landing-content flex justify-center items-center gap-4 ">

        <div class="contentH ">
            <h1>La tecnologia salvara a la naturaleza</h1>
            <p>La tecnología puede impactar positivamente en la preservación de
                las fuentes de agua naturales mediante el monitoreo en tiempo real de la calidad del agua,
                la detección temprana de contaminantes y el uso eficiente del recurso.
                Herramientas como sensores inteligentes y plataformas de análisis de datos
                permiten tomar decisiones informadas para proteger ríos, lagos y acuíferos,
                promoviendo una gestión sostenible del agua.</p>
        </div>

        <div class="imgH">
            <img src="https://cdn0.geoenciclopedia.com/es/posts/7/0/0/rios_7_orig.jpg" alt="Hydrosense Logo"
                class="logo" width="800px" />
        </div>


    </div>
