<section class="producto-container">
  <figure class="container-img">
    <img src="https://img.interempresas.net/fotos/1643387.jpeg" alt="Sensor de medición de calidad del agua" />
  </figure>

  <div class="content">
    <h1>Productos</h1>
    <h2 class="product-title">Sensor de medición de calidad del agua</h2>

    <p class="product-description">
      Un sensor avanzado que mide pH, turbidez y otros parámetros críticos para determinar si el agua es adecuada se
      fabrica integrando diferentes tecnologías de detección y está construido para una operación confiable y
      comunicación eficiente.
      <br>
      <strong>Características:</strong> <br>
      - Mide el ph del agua e indica si sus parametros son adecuados. <br>
      - Mide la turbidez del agua e indica si sus parametros son adecuados. <br>
      - Mide la temperatura del agua e indica si sus parametros son adecuados. <br>

      <strong>Funciones:</strong> <br>
      - El dispositivo se conecta a la red WiFi local y envía datos a la nube. <br>
      - Permite el monitoreo remoto a través de una aplicación móvil. <br>
      - Proporciona alertas en tiempo real sobre la calidad del agua. <br>
      - Interfaz de usuario intuitiva para la configuración y visualización de datos. <br>

    </p>
  </div>
</section>