/* src/app/venta/venta.component.css */

/* No se necesitan clases de Tailwind aquí si ya están en el HTML */

/* Estilos personalizados para los botones de añadir y quitar si se quieren efectos adicionales */
button.bg-green-500, button.bg-red-500 {
  border: none;
  cursor: pointer;
  /* Otros estilos CSS directos si los necesitas, por ejemplo: */
  /* transition: all 0.2s ease-in-out; */
}

  button.bg-green-500:hover, button.bg-red-500:hover {
    transform: translateY(-1px); /* Ligero levantamiento al pasar el ratón */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.06); /* Sombra sutil */
  }

/* Estilos para el botón de 'Vender' si se quieren efectos adicionales */
button.bg-blue-600 {
  border: none;
  cursor: pointer;
  letter-spacing: 0.05em; /* Un poco de espaciado entre letras */
  text-transform: uppercase; /* Texto en mayúsculas */
  /* transition: all 0.2s ease-in-out; */
}

  button.bg-blue-600:hover {
    transform: translateY(-2px); /* Un levantamiento un poco más pronunciado */
    box-shadow: 0 8px 15px -3px rgba(0, 0, 0, 0.2), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* Sombra más fuerte */
  }
